@font-face {
    font-family: 'HelveticaNeue77BoldCondensed';
    src: url('helveticaneue-boldcond-webfont.eot');
    src: url('helveticaneue-boldcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneue-boldcond-webfont.woff') format('woff'),
         url('helveticaneue-boldcond-webfont.ttf') format('truetype'),
         url('helveticaneue-boldcond-webfont.svg#HelveticaNeue77BoldCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue57Condensed';
    src: url('helveticaneue-condensed-webfont.eot');
    src: url('helveticaneue-condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneue-condensed-webfont.woff') format('woff'),
         url('helveticaneue-condensed-webfont.ttf') format('truetype'),
         url('helveticaneue-condensed-webfont.svg#HelveticaNeue57Condensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MuseoSans500';
    src: url('MuseoSans_500-webfont.eot');
    src: url('MuseoSans_500-webfont.eot?iefix') format('eot'),
         url('MuseoSans_500-webfont.woff') format('woff'),
         url('MuseoSans_500-webfont.ttf') format('truetype'),
         url('MuseoSans_500-webfont.svg#webfontkQkWxTED') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans700';
    src: url('museosans_700-webfont.eot');
    src: url('museosans_700-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosans_700-webfont.woff') format('woff'),
         url('museosans_700-webfont.ttf') format('truetype'),
         url('museosans_700-webfont.svg#MuseoSans700') format('svg');
    font-weight: normal;
    font-style: normal;

}